@use "../../breakpoints.scss" as bp;

.project-footer {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 1rem;
  overflow-x: scroll;
  gap: 1rem;
  margin-top: 0.5rem;

  @include bp.md {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    align-items: center;
    justify-content: center;
  }
}
