.header {
	text-align: center;
}

.about {
	display: flex;
	flex-direction: column;
}

.about__title,
.about__section {
	text-align: center;
}

.about__section {
	font-size: 2rem;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.about__textarea {

	margin: 0 auto;
	padding-bottom: 1rem;
	max-width: 80ch;
}

.about__text {
	font-size: 1.1rem;
	line-height: 1.8;
	letter-spacing: 0.01em;
	text-align: justify;
	hyphens: auto;
	margin: 0;
}

.about__text+.about__text {
	margin-top: 1rem;
}
