@use "../../breakpoints.scss" as bp;

.link-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  @include bp.sm {
    flex-direction: row;
  }

  &__title {
    margin-left: 0.5rem;
  }

  &:hover {
    font-weight: bold;
    color: whitesmoke;
  }

  &__icon {
    width: 2.5em;
    height: 2.5em;
  }
}
