.link-button {
  display: flex;
  align-items: center;
  text-decoration: none;

  @media screen and (max-width: 420px) {
    flex-direction: column;
  }

  &:hover {
    font-weight: bold;
    color: whitesmoke;
  }

  &__icon {
    width: 2.5em;
    height: 2.5em;
  }
}
