.header {
  border: 1px solid red;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1em;
    }
  }

  &__social {
    border: 1px solid blue;
    margin-top: 0.45rem;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
  }
}
